```zsh
> neofetch
```

<img align="left" src="Image.png" width="320" /> 

```csharp
sescer@github
-------------------------
OS: Ubuntu  20.04 LTS x86_64
Shell: zsh 5.7.1
Pronouns: He/Him
Location: Novosibirsk, Russia
Languages: Assembly, C, Haskell, SQL
           Python, Promela, Prolog
           Java, C#
Learning: Node.js, CPP, Cybersecurity,
          Kotlin, Scala
Hobbies: Drawing, Anime, Gaming
Commits: {{ totalCommits }}
Stars: {{ totalStars }}
Discord: Kazuki Nagasa#4066
```
<p align="left">
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  {{ #colors }}<img alt="#{{.}}" src="https://via.placeholder.com/15/{{.}}/000000?text=+" width="25" height="20" />{{ /colors }}
</p>
